
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> TecStore</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <div>saludo</div>
        <p>[[${saludo}]]</p>
        
        <h2>Datos de un Cliente</h2>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${Clientes}">
                    <td>[[${cliente.Nombre}]]</td>
                    <td>[[${cliente.Apellidos}]]</td>
                    <td>[[${cliente.Correo}]]</td>
                    <td>[[${cliente.Telefono}]]</td>                  
                </tr>
            </tbody>
        </table>
        
    </body>
</html>
