
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title> TecStore</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="contenido">
            <h2>Categorias</h2>

            <a th:href="@{/articulo/listado}">Regresar</a>
            <hr/>
            <form th:action="@{/articulo/guardar}"
                  method="post"
                  th:object="${articulo}">

                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>

                <fieldset>
                    <label for="apellidos">Detalle</label>
                    <input type="text" name="Nombre" 
                           placeholder="Descripcion"
                           size="25"
                           th:field="*{descripcion}" ></input>
                </fieldset>

                <fieldset>
                    <label for="apellidos">Precio</label>
                    <input type="number" name="precio" 
                           placeholder="$$$"
                           size="25"
                           th:field="*{precio}" ></input>
                </fieldset>

                <fieldset>
                    <label for="apellidos">Existencias</label>
                    <input type="number" name="Correo" 
                           size="25"
                           th:field="*{existencias}" ></input>
                </fieldset>

                <fieldset>
                    <label for="apellidos">Activo</label>
                    <input type="checkbox" name="Telefono" 
                           th:field="*{activo}" ></input>
                </fieldset>
                <hr/>

                <input type="submit" name="guardar" value="guardar"/>

            </form>
        </div>
    </body>
</html>
